.container {
  box-sizing: border-box;
  width: 50vw;
  padding: 3rem;
  position: relative;
}

.formGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.input {
  width: 60%;
}
.big {
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: baseline;
}

.cancel {
  background: #ffffff;
  border: 0.848485px solid #cecece;
  border-radius: 6.50784px;
  padding: 1em 2em;
  margin-left: 15vw;
  margin-right: 1vw;
}

.add {
  background: #ed5353;
  border-radius: 6.50784px;
  padding: 1em 2em;
  border: none;
  color: white;
  font-weight: 600;
}
