.container {
  box-sizing: border-box;
  width: 60vw;
  height: 100vh;
  padding: 3rem;
  position: relative;
  font-family: DM Sans;
  overflow-y: scroll;
}

.formGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.input {
  width: 60%;
  border: 1.84px solid #c2c2c2;
  padding: 0.4rem;
  outline: none;
  color: #adadad;
  border-radius: 3px;
  font-weight: 500;
  font-family: DM Sans;
  font-weight: 500;
}
.input::placeholder {
  color: #adadad;
}
.big {
  height: 7rem;
  resize: none;
  outline: none;
}

.cancel {
  background: #ffffff;
  border: 0.848485px solid #cecece;
  border-radius: 6.50784px;
  padding: 1em 2em;
  margin-left: 15vw;
  margin-right: 1vw;
}

.add {
  background: #ed5353;
  border-radius: 6.50784px;
  padding: 1em 2em;
  border: none;
  color: white;
  font-weight: 600;
}
