.page {
  width: 100vw;
  height: 100vh;
}
.nav {
  height: 5vhvh;
  color: #ed5353;
  width: 100%;
}
.container {
  width: 80vw;
  position: fixed;
  top: 15vh;
  left: 10vw;
  box-sizing: border-box;
  padding: 2rem 1rem;
  box-shadow: 0px 0px 22px 4px #ff202040;
  z-index: 2;
  text-align: center;
  margin-bottom: 2rem;
  border-radius: 3px;
  background-color: white;
}
.container:hover {
  cursor: pointer;
}
.containerTop {
  text-align: left;
  margin-bottom: 2rem;
}

.containerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputTop {
  width: 99%;
  font-family: DM Sans;
  font-weight: 500;
  font-size: 1.4rem;
  color: #9c9c9c;
  border: 1.8px solid #e3e3e3;
  padding: 0.3rem;
  border-radius: 3px;
  outline: none;
}

.inputSelect {
  width: 12rem;
  font-family: roboto;
  color: #9c9c9c;
  padding: 0.4rem;
  font-size: 1.1rem;
  outline: none;
  border-radius: 3px;
}
.chipContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: space-around;
  flex-direction: row;
  width: 50rem;
}
.chip {
  box-sizing: border-box;
  background: #ffeeee;
  color: black;
  padding: 0.6rem;
  border-radius: 3px;
  margin: 0.5rem 1rem 0rem 0rem;
}
.cross {
  background-color: #ed5353;
  font-weight: 600;
  margin-left: 5px;
  padding: 2px;
  color: white;
}

.clear {
  color: #ed5353;
  font-family: DM Sans;
  font-weight: 500;
  font-size: 1.25rem;
  margin-right: 1rem;
  background-color: white;
  border: none;
}

.add {
  background-color: #ed5353;
  border: 1px solid #ed5353;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  color: white;
  font-weight: 500;
  font-size: 1.25rem;
}

.bottom {
  position: fixed;
  top: 35vh;
  left: 9vw;
  height: 60vh;
  overflow: scroll;
  width: 82vw;
}

.bottom::-webkit-scrollbar {
  display: none;
}

.card {
  width: 80vw;
  margin: 4rem auto;
  box-shadow: 0px 2px 22px 0px #ff202040;
  padding: 1rem 1rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: roboto;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 3px;
}

.cardLeft {
  display: flex;
}

.cardImage {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.infoLeft {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}
.infoLeft:hover {
  cursor: pointer;
}
.infoLeft p {
  margin-bottom: 0.7rem;
}
.infoLeft span {
  margin-right: 0.8rem;
  text-align: center;
}
.greyText {
  color: #9c9c9c;
}

.redText {
  color: #ed5353;
}
.skillContainer {
  padding: 0.4rem;
}
.skill {
  background-color: #ffeeee;
  color: black;
  padding: 0.2rem 0.5rem;
  margin-right: 1rem;
  font-family: DM Sans;
  border-radius: 3px;
  text-transform: capitalize;
}
.skill:hover {
  cursor: pointer;
}
.btnGroup {
  display: flex;
  margin-top: 1rem;
  justify-content: space-evenly;
  font-family: DM Sans;
}

.edit {
  background-color: transparent;
  padding: 1em 2em;
  border: 1px solid #ed5353;
  color: #ed5353;
  font-weight: 600;
  margin-right: 0.5rem;
  border-radius: 3px;
}

.view {
  background-color: #ed5353;
  border: 1px solid #ed5353;
  border-radius: 3px;
  padding: 1em 2em;
  color: white;
  font-weight: 600;
}
